In [96]:
import pandas as pd
import numpy as np

In [97]:
data = pd.read_csv("PROCESSED-Energy-Dataset-192-FINAL2.csv")

In [98]:
data

,Smart Meter Id,Flats Category,Address,Street,Building Name,Building Code,Periods,Seasons,Date,TotaldailyenergyConsumption,...,2.00 PM,3.00 PM,4.00 PM,5.00 PM,6.00 PM,7.00 PM,8.00 PM,9.00 PM,10.00 PM,11.00 PM
0,0000002341DE24A,Residential College,"Connection 1, 72 Heriot Row, Dunedin, Otago, 9016",Heriot Row,Carrington College - Dawson House,J131,Holiday,summer,01-01-2022,9.32,...,1.39,0.12,0.12,1.03,0.12,0.13,0.14,0.14,0.14,0.63
1,0000002341DE24A,Residential College,"Connection 1, 72 Heriot Row, Dunedin, Otago, 9016",Heriot Row,Carrington College - Dawson House,J131,Term Time,summer,02-01-2022,9.19,...,0.75,0.92,0.12,0.12,0.12,1.04,0.14,0.14,0.14,0.14
2,0000002341DE24A,Residential College,"Connection 1, 72 Heriot Row, Dunedin, Otago, 9016",Heriot Row,Carrington College - Dawson House,J131,Term Time,summer,03-01-2022,9.57,...,0.12,2.01,0.55,0.12,0.13,0.14,0.14,0.14,1.03,0.14
3,0000002341DE24A,Residential College,"Connection 1, 72 Heriot Row, Dunedin, Otago, 9016",Heriot Row,Carrington College - Dawson House,J131,Term Time,summer,04-01-2022,8.63,...,0.12,0.29,1.25,0.12,1.03,0.14,0.14,0.14,0.14,0.14
4,0000002341DE24A,Residential College,"Connection 1, 72 Heriot Row, Dunedin, Otago, 9016",Heriot Row,Carrington College - Dawson House,J131,Holiday,summer,05-01-2022,9.58,...,1.01,1.08,0.57,0.12,0.14,0.14,0.14,1.04,0.14,0.14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86203,0000505443DE47E,Residential College,"RESIDENCE, House, 660 Castle Street North, Dun...",Castle Street,Otago University Flat,K401,Term Time,Autumn,21-03-2023,36.38,...,0.52,0.55,1.44,2.50,2.37,2.24,3.91,3.23,2.15,1.39
86204,0000505443DE47E,Residential College,"RESIDENCE, House, 660 Castle Street North, Dun...",Castle Street,Otago University Flat,K401,Term Time,Autumn,22-03-2023,49.55,...,1.52,1.40,2.22,1.34,2.72,2.26,1.60,1.52,1.86,3.07
86205,0000505443DE47E,Residential College,"RESIDENCE, House, 660 Castle Street North, Dun...",Castle Street,Otago University Flat,K401,Term Time,Autumn,23-03-2023,52.62,...,0.86,1.58,0.82,1.27,1.39,1.79,1.08,1.03,4.27,4.00
86206,0000505443DE47E,Residential College,"RESIDENCE, House, 660 Castle Street North, Dun...",Castle Street,Otago University Flat,K401,Term Time,Autumn,24-03-2023,44.56,...,4.41,1.09,0.79,0.81,1.66,3.66,1.31,2.25,2.41,1.27
86207,0000505443DE47E,Residential College,"RESIDENCE, House, 660 Castle Street North, Dun...",Castle Street,Otago University Flat,K401,Term Time,Autumn,25-03-2023,38.48,...,0.77,1.79,0.96,3.78,4.62,1.58,1.54,1.87,1.94,1.02

In [99]:
data.columns

Index(['Smart Meter Id', 'Flats Category', 'Address', 'Street',
       'Building Name', 'Building Code', 'Periods', 'Seasons', 'Date',
       'TotaldailyenergyConsumption', '12.00 AM', '1.00 AM', '2.00 AM',
       '3.00 AM', '4.00 AM', '5.00 AM', '6.00 AM', '7.00 AM', '8.00 AM',
       '9.00 AM', '10.00 AM', '11.00 AM', '12.00 PM', '1.00 PM', '2.00 PM',
       '3.00 PM', '4.00 PM', '5.00 PM', '6.00 PM', '7.00 PM', '8.00 PM',
       '9.00 PM', '10.00 PM', '11.00 PM'],
      dtype='object')

In [100]:
data.loc[:,["12.00 AM"]]

       12.00 AM
0          1.14
1          1.60
2          1.14
3          1.14
4          1.14
...         ...
86203      3.78
86204      3.26
86205      3.93
86206      3.25
86207      2.92

[86208 rows x 1 columns]

In [101]:
data.loc[:,["12.00 AM"]]+=1

In [102]:
data.loc[:,["12.00 AM"]]

       12.00 AM
0          2.14
1          2.60
2          2.14
3          2.14
4          2.14
...         ...
86203      4.78
86204      4.26
86205      4.93
86206      4.25
86207      3.92

[86208 rows x 1 columns]

In [103]:
data["12.00 AM"]

0        2.14
1        2.60
2        2.14
3        2.14
4        2.14
         ...
86203    4.78
86204    4.26
86205    4.93
86206    4.25
86207    3.92
Name: 12.00 AM, Length: 86208, dtype: float64

In [104]:
data.to_csv("PROCESSED-Energy-Dataset-192-FINAL2.csv",index=False)